.nav_links {
    text-decoration: underline !important;
    color: black !important;
    text-underline-offset: 5px ;

}

.nav_links:hover {
    text-decoration: none ;
    color: black;
}

.nav_links:focus {
    text-decoration: none ;
    color: black;
    border: 2px black;
}

.nav_links:focus {
    text-decoration: none ;
    text-underline-offset: 5px ;
    color: black;
    border: 2px black;
}
.nav_links:active {
    color: black;
    text-decoration: underline ;

}

.nav_links_inactive {
    text-decoration-line: none !important;
    color: black;
}
