.nav_links tab-box{
  text-decoration: none !important;
  color: black !important;
  font-size: 22px;
}
.nav_links_inactive {
  text-decoration: none !important;
  color: black;
  font-size: 22px;
}
.nav_links {
  color: #2469a6 !important;
  text-decoration: none !important;
  font-size: 22px;
}
.nav_links:hover {
  color: #2469a6 !important;
  text-decoration: none !important;
  font-size: 22px;
}
.nav_links_inactive:hover {
  color: #2469a6 !important;
  text-decoration: none !important;
}
/* 
.nav_links:focus {
  color: #2469a6 !important;
  text-decoration: none !important;
  font-size: 22px;
}

.nav_links_inactive:focus {
  color: #2469a6 !important;
  text-decoration: none ;
  font-size: 22px;
}

.nav_links_inactive:active {
  color: #2469a6 !important;
  text-decoration: none;
  font-size: 22px;
} */

.tab{
  border-bottom-style: solid;
  border-bottom-color: #2469a6;
  border-bottom-width: 3px;
  font-size: 22px;
}

.tab_inactive{
  border-bottom-style: none;
  font-size: 22px;
}
