@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Futura Condensed, "Futura C", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

h1 {
 font-size: 25px;
    line-height: 33;
    color: #2469A6;
}

a {
    font-weight: 500;
    color: #535bf2;
    /*color: black;*/
    text-decoration: underline;
}

a:hover {
    color: white;
    background-color: #2469A6;
}
a:focus {
    color: white;
    background-color: #2469A6;
    border: 2px solid #1C2430;
}

a:active {
    color: #1C2430;
}



body {
    margin: 0;

    overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Futura, Muli, sans-serif;
    color: #2469A6;

}

p {
    font-family: Roboto,Montserrat, sans-serif;
}

ul{
    list-style-type: none;
}
